@model QLBanhang.Models.SanPham
@using QLBanhang.Models
@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết Sản Phẩm</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Đơn Vị Tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donvitinh)
        </dd>

        <dt>
            Đơn Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

        <dt>
            Loại Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP.TenLoaiSP)
        </dd>

        <dt>
            Hình Ảnh
        </dt>

        <dd>
            @*Html.DisplayFor(model => model.HinhSP)*@
            @Html.Image("../../" + Model.HinhSP, @Model.HinhSP, "100")
        </dd>

        <dd>
            <br />
            <a class="btn btn-success btn-sm" href="@Url.Action("AddToCart", "GioHang", new {MaSP = Model.MaSP })">
                <span class="glyphicon glyphicon-shopping-cart"></span>Thêm Vào Giỏ Hàng
            </a>

            <a class="btn btn-success btn-sm" href="@Url.Action("Index", "Home", new {MaSP = Model.MaSP })">
                Quay Lại
            </a>

        </dd>
    </dl>
</div>

